# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables & local secrets
.env

# IDE / Editor files
.vscode/
.idea/

# Local logs or temporary output files
*.log
output/